<mat-card>
  <mat-card-header>
    <mat-card-title>{{ 'DOWNLOADS' | translate }}</mat-card-title>
  </mat-card-header>

  <mat-divider></mat-divider>

  <mat-card-content>
    <mat-nav-list>
      <mat-list-item>
        <span>{{ 'MEGA' | translate }}</span>
        <span class="content-filler"></span>
        <span>1.7 GB</span>
      </mat-list-item>

      <mat-list-item>
        <span>{{ '4SHARED' | translate }}</span>
        <span class="content-filler"></span>
        <span>1.7 GB</span>
      </mat-list-item>

      <mat-list-item>
        <span>{{ 'GOOGLE_DRIVE' | translate }}</span>
        <span class="content-filler"></span>
        <span>40 MB</span>
      </mat-list-item>

      <mat-list-item>
        <span>{{ 'DIRECT_DOWNLOAD' | translate }}</span>
        <span class="content-filler"></span>
        <span>10 MB</span>
      </mat-list-item>
    </mat-nav-list>
  </mat-card-content>
</mat-card>
