form {
  margin-top: 15px !important;

  mat-form-field {
    width: 100%;
  }

  button {
    width: 100%;
  }

  input:-webkit-autofill {
    animation-name: autofill;
    animation-fill-mode: both;
    -webkit-animation-name: autofill;
    -webkit-animation-fill-mode: both;
  }
}

@keyframes autofill {
  to {
      color: #FFF;
      background: transparent;
  }
}

@-webkit-keyframes autofill {
  to {
      color: #FFF;
      background: transparent;
  }
}
