@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "./theme.scss";

.no-margin {
  margin: 0 !important;
}

.no-padding {
  padding: 0 !important;
}

.content-filler {
  flex: 1 1 auto;
}

.mat-list-item {
  height: 35px !important;
}

.mat-list-item-content {
  padding: 0 5px !important;
}

.mat-card-header-text {
  margin: 0 5px !important;
}
