mat-toolbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;

  .content-toolbar {
    display: flex;
    width: 1000px;
    margin: 0 auto;
    align-items: center;

    mat-nav-list {
      padding: 0;

      mat-list-item {
        display: inline-block;
        width: auto;
        user-select: none;

        ::ng-deep div {
          padding: 0 10px !important;
        }
      }
    }

    img {
      max-height: 50px;
      margin-right: 10px;

      cursor: pointer;
      outline: none;
    }
  }
}
