<mat-toolbar color="primary">
    <div class="content-toolbar">
      <img src="../assets/imagens/logo-darkeden.png">

      <ul class="no-padding">
        <li>{{ 'HOME' | translate }}</li>
        <li>{{ 'NEWS' | translate }}</li>
        <li>{{ 'INFO' | translate }}</li>
        <li>{{ 'BIBLES' | translate }}</li>
        <li>{{ 'RANKING' | translate }}</li>
        <li>{{ 'DONATION' | translate }}</li>
      </ul>

      <span class="filler"></span>

      <ul class="no-padding no-margin">
        <li>{{ 'LOGIN' | translate }}</li>
        <li>{{ 'REGISTER' | translate }}</li>
      </ul>
    </div>
  </mat-toolbar>
