<mat-toolbar color="primary">
  <div class="content-toolbar">
    <img src="../assets/images/dk-logo.png">

    <mat-nav-list>
      <mat-list-item routerLink="">{{ 'HOME' | translate }}</mat-list-item>
      <mat-list-item>{{ 'RANKING' | translate }}</mat-list-item>
      <mat-list-item>{{ 'BIBLES' | translate }}</mat-list-item>
      <mat-list-item>{{ 'DONATION' | translate }}</mat-list-item>
    </mat-nav-list>

    <span class="content-filler"></span>

    <mat-nav-list>
      <mat-list-item>{{ 'LOGIN' | translate }}</mat-list-item>
      <mat-list-item routerLink="register">{{ 'REGISTER' | translate }}</mat-list-item>
    </mat-nav-list>
  </div>
</mat-toolbar>
